body {
  margin: 0;
  background-color: black;
}
#container {
  position: relative;
}
#infoTop {
  z-index: 100;
  position: absolute;
}
#Background {
  pointer-events: none;
}

#Clouds {
  position: absolute;
  top: 5vw;
  left: 10vw;
  width: 80vw;
}

#SkyGradient {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: -2;
}

#LeftSideFar {
  width: 49vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#RightSideFar {
  width: 32.5vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
#LeftSideNear {
  width: 56.7vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#RightSideNear {
  width: 49.1vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#Bridge {
  position: absolute;
  top: 20vw;
  width: 91vw;
  left: 4.5vw;
  z-index: 1;
}
#LogoSign {
  position: absolute;
  top: 5vw;
  left: 33vw;
  width: 35vw;
  z-index: 2;
}

#CanyonBottom {
  position: absolute;
  top: 407vw;
  left: 0vw;
  width: 100%;
  z-index: 4;
}
#Horizon {
  position: absolute;
  top: 363vw;
  left: 12vw;
  width: 78vw;
  z-index: -1;
}

#ArrowSign {
  position: absolute;
  top: 40vw;
  left: 82vw;
  width: 12vw;
  z-index: 4;
}

#MobileClouds {
  display: none;
}

#MobileLeftSideFar {
  display: none;
}

#MobileLeftSideNear {
  display: none;
}

#MobileBridge {
  display: none;
}
#MobileLogoSign {
  display: none;
}

#MobileCanyonBottom {
  display: none;
}
#MobileHorizon {
  display: none;
}

.bounce {
  animation: bounce 3s infinite;
  animation-timing-function: linear;
}
@keyframes bounce {
  0%,
  100% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

#Sun {
  position: absolute;
  top: 345vw;
  left: 12vw;
  width: 78vw;
  z-index: -1;
}

#button1img {
  position: absolute;
  width: 20vw;
}

#registerButton {
  margin-top: 36vw;
  margin-left: 40vw;
  width: 20vw;
  height: 8vw;
  position: absolute;
  justify-content: center;
  justify-items: center;
}

#buttontext {
  top: 20%;
  font-size: 3.6vw;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#registerButton:hover {
  transform: scale(1.1);
}

a:link {
  color: #fff;
}
a:visited {
  color: #fff;
}

#schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10vw;
  margin-left: 63vw;
  width: 28vw;
  padding: 3vw;
  background-color: #845b2e;
  border-radius: 2vw;
  max-height: 35vw;
  /* position: absolute;
  right: 5vw;
  top: 85vw;
  width: 40vw;
  z-index: 100;  */
}
#schedule ::-webkit-scrollbar {
  width: 20px;
}
#schedule ::-webkit-scrollbar-track {
  background-color: transparent;
}
#schedule ::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
#schedule ::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
#schedule .schedule-heading {
  color: white;
  margin: 1vw;
}
#schedule .schedule-heading #saturday-button,
#schedule .schedule-heading #sunday-button {
  font-size: 3vw;
  cursor: pointer;
  display: inline;
  width: 45%;
  text-align: center;
  border-radius: 5vw;
  border: 0.3vw solid rgba(255, 255, 255, 0);
  padding: 0px 10px;
  font-family: Arial, Helvetica, sans-serif;
}
#schedule .schedule-heading #saturday-button.active,
#schedule .schedule-heading #sunday-button.active {
  border-radius: 5vw;
  border: 0.3vw solid white;
}
#schedule .schedule-text {
  max-height: 25vw;
  overflow-y: auto;
  color: white;
  cursor: pointer;
}
#schedule .schedule-text .schedule-event-name {
  display: inline-block;
  font-size: 1.5vw;
  width: 30vw;
}
#schedule .schedule-text p:nth-of-type(1) {
  margin: 0;
  padding-top: 10px;
}
#schedule .schedule-text p:nth-of-type(2) {
  margin: 0;
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
}
#schedule .schedule-text .schedule-item:focus-within p:nth-of-type(2) {
  max-height: 10vw;
  size: 1vw;
}
#schedule #saturday-schedule,
#schedule #sunday-schedule {
  display: none;
}
#schedule #saturday-schedule.active,
#schedule #sunday-schedule.active {
  display: block;
}

#faq ::-webkit-scrollbar {
  width: 20px;
}
#faq ::-webkit-scrollbar-track {
  background-color: transparent;
}
#faq ::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
#faq ::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
#faq .schedule-heading {
  color: white;
  margin: 1vw;
}
