@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://api.fontshare.com/css?f[]=chillax&display=swap");

@font-face {
  font-family: "Sabo-Filled";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Sabo-Filled[1].otf") format("opentype");
}

html {
  scroll-behavior: smooth;
  background-color: var(--black);
}

* {
  box-sizing: border-box;
}

b {
  font-weight: bold;
}
