:root {
  --reference-width: 1440;
  --mobile-width: 402;
}

html {
  box-sizing: border-box;
}

p {
  margin-bottom: 0;
  pointer-events: all;
}

body {
  margin: 0;
  color: white;
  font-family: "Epilogue", sans-serif;
  font-style: normal;
}

img,
div {
  position: absolute;
  pointer-events: none;
}

h2 {
  text-transform: uppercase;
  margin: 0 0 0.5em 0;
  font-family: "ruddy", sans-serif;
  pointer-events: all;
}

a img {
  pointer-events: all;
}

a {
  pointer-events: all;
  text-decoration: none;
}

.rodeo-link {
  font-size: 1.75vw;
}

.box {
  padding: 5vw;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 1em;
}

@media screen and (min-width: 481px) {
  body {
    font-size: 1.01vw;
    line-height: 1.8vw;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .box {
    padding: 1.5vw;
  }

  #mobile {
    display: none;
  }

  #desktop {
    display: contents;
  }

  #mainwall {
    top: 0;
  }

  #background {
    top: calc(563.83 / var(--reference-width) * 100vw);
  }

  #candypile {
    position: absolute;
    top: calc(4189.83 / var(--reference-width) * 100vw);
    z-index: 100;
  }

  #conveyor {
    top: calc(523.83 / var(--reference-width) * 100vw);
    right: 0;
    width: calc(1260.06 / var(--reference-width) * 100vw);
  }

  #sewer {
    top: calc(5073.51 / var(--reference-width) * 100vw);
  }

  #title {
    top: calc(223 / var(--reference-width) * 100vw);
    scale: calc(1020.44 / var(--reference-width));
    transform-origin: top center;
  }

  #mentor {
    top: calc(391 / var(--reference-width) * 100vw);
    left: calc(232 / var(--reference-width) * 100vw);
    width: calc(256.71 / var(--reference-width) * 100vw);
    z-index: 100;
  }

  #mentor:hover {
    content: url("./static/mentor_button(hover).svg");
  }

  #register {
    top: calc(391 / var(--reference-width) * 100vw);
    scale: calc(256.71 / var(--reference-width));
    transform-origin: top center;
    z-index: 100;
  }

  #register:hover {
    content: url("./static/register_button(hover).svg");
  }

  #volunteer {
    top: calc(391 / var(--reference-width) * 100vw);
    right: calc(232 / var(--reference-width) * 100vw);
    width: calc(256.71 / var(--reference-width) * 100vw);
    z-index: 100;
  }

  #volunteer:hover {
    content: url("./static/volunteer_button(hover).svg");
  }

  #schedule {
    top: calc(2164.11 / var(--reference-width) * 100vw);
    left: calc(417 / var(--reference-width) * 100vw);
    width: calc(256.71 / var(--reference-width) * 100vw);
    z-index: 100;
  }

  #schedule-contents {
    position: absolute;
    top: calc(2250 / var(--reference-width) * 100vw);
    left: calc(350 / var(--reference-width) * 100vw);
    z-index: 100;
  }

  #what {
    top: calc(744 / var(--reference-width) * 100vw);
    left: calc(360 / var(--reference-width) * 100vw);
    width: calc(480 / var(--reference-width) * 100vw);
  }
  #what h2 {
    color: #d1d481;
  }

  #who {
    top: calc(1322 / var(--reference-width) * 100vw);
    left: calc(672 / var(--reference-width) * 100vw);
    width: calc(514 / var(--reference-width) * 100vw);
  }

  #who h2,
  #who a {
    color: #96b3cd;
  }

  #inclusion {
    top: calc(3324 / var(--reference-width) * 100vw);
    left: calc(600 / var(--reference-width) * 100vw);
    width: calc(420 / var(--reference-width) * 100vw);
  }

  #inclusion h2,
  #inclusion a {
    color: #f5a3c5;
  }

  #attend {
    top: calc(3827 / var(--reference-width) * 100vw);
    left: calc(371 / var(--reference-width) * 100vw);
    width: calc(509 / var(--reference-width) * 100vw);
  }
  #attend h2 {
    color: #f7c96c;
  }

  #clutter1 {
    top: calc(357.55 / var(--reference-width) * 100vw);
    height: calc(674.34 / var(--reference-width) * 100vw);
  }

  #clutter2 {
    top: calc(761.17 / var(--reference-width) * 100vw);
    height: calc(1280.64 / var(--reference-width) * 100vw);
    right: 0;
  }

  #clutter3 {
    top: calc(1375.04 / var(--reference-width) * 100vw);
    left: calc(35.11 / var(--reference-width) * 100vw);
    width: calc(711.62 / var(--reference-width) * 100vw);
  }

  #clutter4 {
    top: calc(1986.57 / var(--reference-width) * 100vw);
    left: calc(44.12 / var(--reference-width) * 100vw);
    width: calc(1395.88 / var(--reference-width) * 100vw);
  }

  #clutter5 {
    top: calc(2856.28 / var(--reference-width) * 100vw);
    width: calc(342 / var(--reference-width) * 100vw);
  }

  #clutter6 {
    top: calc(3020 / var(--reference-width) * 100vw);
    width: calc(347.3 / var(--reference-width) * 100vw);
    right: 0;
  }

  #faq {
    top: calc(4597 / var(--reference-width) * 100vw);
    scale: calc(256.71 / var(--reference-width));
    transform-origin: top center;
    z-index: 200;
  }

  #faq-contents {
    position: absolute;
    top: calc(4700 / var(--reference-width) * 100vw);
    left: calc(510 / var(--reference-width) * 100vw);
    z-index: 100;
  }

  #sponsors {
    top: calc(4800 / var(--reference-width) * 100vw);
    scale: calc(256.71 / var(--reference-width));
    transform-origin: top center;
    z-index: 200;
  }

  #sponsors-contents {
    position: absolute;
    top: calc(4950 / var(--reference-width) * 100vw);
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    left: 10%;
    height: 40vw;
    padding: 2vw;
    justify-content: space-evenly;
    background: rgb(255, 255, 255, 0.5);
    z-index: 200;
    border-radius: 2vw;
    gap: 1vw;
    align-content: space-evenly;
  }

  #sponsors-contents img {
    position: static;
    height: 10vw;
    z-index: 200;
  }

  #caramel {
    top: calc(509 / var(--reference-width) * 100vw);
    left: calc(981 / var(--reference-width) * 100vw);
    width: calc(438.24 / var(--reference-width) * 100vw);
  }

  #candycane {
    top: calc(632 / var(--reference-width) * 100vw);
    left: calc(962 / var(--reference-width) * 100vw);
    width: calc(69.4 / var(--reference-width) * 100vw);
  }

  #circles {
    top: calc(1142 / var(--reference-width) * 100vw);
    left: calc(412 / var(--reference-width) * 100vw);
    width: calc(543.36 / var(--reference-width) * 100vw);
  }

  #chocballs {
    top: calc(1136 / var(--reference-width) * 100vw);
    left: calc(224 / var(--reference-width) * 100vw);
    width: calc(92.8 / var(--reference-width) * 100vw);
  }

  #olivia {
    top: calc(1809 / var(--reference-width) * 100vw);
    left: calc(282 / var(--reference-width) * 100vw);
    width: calc(719.86 / var(--reference-width) * 100vw);
  }

  #jellycake {
    top: calc(1814 / var(--reference-width) * 100vw);
    left: calc(1119 / var(--reference-width) * 100vw);
    width: calc(101.16 / var(--reference-width) * 100vw);
  }

  #star {
    top: calc(3121 / var(--reference-width) * 100vw);
    left: calc(560 / var(--reference-width) * 100vw);
    width: calc(680.42 / var(--reference-width) * 100vw);
  }

  #bars {
    top: calc(3118 / var(--reference-width) * 100vw);
    left: calc(412 / var(--reference-width) * 100vw);
    width: calc(80.85 / var(--reference-width) * 100vw);
  }

  #corn {
    top: calc(3666 / var(--reference-width) * 100vw);
    left: calc(399 / var(--reference-width) * 100vw);
    width: calc(437.77 / var(--reference-width) * 100vw);
  }

  #wrappers {
    top: calc(3654 / var(--reference-width) * 100vw);
    left: calc(940 / var(--reference-width) * 100vw);
    width: calc(123.69 / var(--reference-width) * 100vw);
  }
}

@media screen and (max-width: 480px) {
  .rodeo-link {
    font-size: 5vw;
  }

  #desktop {
    display: none;
  }

  #mobile {
    display: contents;
  }

  /* img,
  div {
    position: absolute;
  } */

  body {
    font-size: 3.3vw;
    line-height: 5vw;
  }

  #title-screen {
    top: 0;
  }

  #mobile-title {
    top: calc(95 / var(--mobile-width) * 100vw);
    scale: calc(351.66 / var(--mobile-width));
  }

  #mobile-register {
    top: calc(234 / var(--mobile-width) * 100vw);
    scale: calc(198.53 / var(--mobile-width));
  }

  #mobile-mentor {
    top: calc(315 / var(--mobile-width) * 100vw);
    scale: calc(200 / var(--mobile-width));
  }

  #mobile-volunteer {
    top: calc(385 / var(--mobile-width) * 100vw);
    scale: calc(197.05 / var(--mobile-width));
  }

  #conveyor-what {
    top: calc(650 / var(--mobile-width) * 100vw);
  }

  #candycanes {
    top: calc(802 / var(--mobile-width) * 100vw);
    scale: calc(288.19 / var(--mobile-width));
  }

  #what {
    top: calc(972 / var(--mobile-width) * 100vw);
    left: calc(43 / var(--mobile-width) * 100vw);
    width: calc(280 / var(--mobile-width) * 100vw);
  }

  #what h2 {
    color: #d1d481;
  }

  #jellycake {
    top: calc(1262 / var(--mobile-width) * 100vw);
    scale: calc(279.23 / var(--mobile-width));
  }

  #conveyor-who {
    top: calc(1498 / var(--mobile-width) * 100vw);
  }

  #chocoballs {
    top: calc(1512 / var(--mobile-width) * 100vw);
    scale: calc(261 / var(--mobile-width));
  }

  #who {
    top: calc(1712 / var(--mobile-width) * 100vw);
    left: calc(43 / var(--mobile-width) * 100vw);
    width: calc(280 / var(--mobile-width) * 100vw);
  }

  #who h2,
  #who a {
    color: #96b3cd;
  }

  #wrappedcandy {
    top: calc((2066 + 20) / var(--mobile-width) * 100vw);
    scale: calc(294.15 / var(--mobile-width));
  }

  #mid-schedule {
    top: calc(2144 / var(--mobile-width) * 100vw);
  }

  #mobile-schedule-title {
    top: calc(2434 / var(--mobile-width) * 100vw);
    scale: calc(169.57 / var(--mobile-width));
  }

  #schedule-contents {
    position: absolute;
    top: calc(9000 / var(--reference-width) * 100vw);
    width: 80%;
    padding: 10%;
    text-align: center;
  }

  #conveyor-attend {
    top: calc(3305 / var(--mobile-width) * 100vw);
  }

  #caramel {
    top: calc(3435 / var(--mobile-width) * 100vw);
    scale: calc(254.06 / var(--mobile-width));
  }

  #attend {
    top: calc(3612 / var(--mobile-width) * 100vw);
    left: calc(43 / var(--mobile-width) * 100vw);
    width: calc(280 / var(--mobile-width) * 100vw);
  }

  #attend h2 {
    color: #f7c96c;
  }

  #chocobars {
    top: calc(3938 / var(--mobile-width) * 100vw);
    scale: calc(259.45 / var(--mobile-width));
  }

  #conveyor-inclusion {
    top: calc(4153 / var(--mobile-width) * 100vw);
  }

  #cherrystar {
    top: calc(4168 / var(--mobile-width) * 100vw);
    scale: calc(281.76 / var(--mobile-width));
  }

  #inclusion {
    top: calc(4411 / var(--mobile-width) * 100vw);
    left: calc(43 / var(--mobile-width) * 100vw);
    width: calc(280 / var(--mobile-width) * 100vw);
  }

  #inclusion h2,
  #inclusion a {
    color: #f5a3c5;
  }

  #creepycandy {
    top: calc(4625 / var(--mobile-width) * 100vw);
    scale: calc(270.74 / var(--mobile-width));
  }

  #circlecandy {
    top: calc(4740 / var(--mobile-width) * 100vw);
    scale: calc(230.87 / var(--mobile-width));
  }

  #end-screen {
    top: calc(4799 / var(--mobile-width) * 100vw);
  }

  #mobile-faq-title {
    top: calc(5084 / var(--mobile-width) * 100vw);
    scale: calc(169.57 / var(--mobile-width));
  }

  #faq-contents {
    position: absolute;
    top: calc(18500 / var(--reference-width) * 100vw);
    width: 80%;
    padding: 10%;
    text-align: center;
  }

  #mobile-sponsers-title {
    top: calc(5250 / var(--mobile-width) * 100vw);
    scale: calc(169.57 / var(--mobile-width));
  }

  #sponsors-contents {
    position: absolute;
    top: calc(19300 / var(--reference-width) * 100vw);
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    left: 10%;
    height: 200vw;
    padding: 2vw;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 5vw;
    z-index: 200;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 5vw;
  }

  #sponsors-contents img {
    position: static;
    width: 40vw;
    z-index: 200;
  }
}
