@font-face {
  font-family: Holtwood;
  src: url("../fonts/HoltwoodOneSC.ttf");
}
h1 {
  font-size: 25px;
  text-decoration: underline;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 55px;
}

p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.info {
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  padding-left: 25%;
  text-align: left;
}
a {
  color: white;
}
body {
  height: 200vw;
  margin: 0;
  background-color: orange;
  font-family: Holtwood;
}
.layerimg {
  pointer-events: none;
  width: 100%;
}
.noselect {
  user-select: none;
}
#header {
  position: relative;
  display: flex;
}

#layer1 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -20vw;
  transition: margin 1s;
}

#layer2 {
  position: relative;
  display: flex;
  margin-top: -165vw;
  transition: margin 1s;
}

#layer3 {
  position: relative;
  display: flex;
  margin-top: -145vw;
  transition: margin 1s;
}

#layer4 {
  position: relative;
  display: flex;
  margin-top: -125vw;
  transition: margin 1s;
}

#layer5 {
  position: relative;
  display: flex;
  margin-top: -110vw;
  transition: margin 1s;
}
#layer6 {
  position: relative;
  display: flex;
  margin-top: -90vw;
  transition: margin 1s;
}

#layer1title {
  position: absolute;
  text-align: center;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  z-index: 1000;
  margin-top: 12vw;
}
#layer2title {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  z-index: 1000;
  margin-top: 20vw;
}
#layer3title {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  z-index: 1000;
  margin-top: 16vw;
}
#layer4title {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  z-index: 1000;
  color: #fff6d2;
  margin-top: 16vw;
}
#layer5title {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  z-index: 1000;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  margin-top: 20vw;
}

#layer1content {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  margin-top: 12vw;
}

#layer2content {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  margin-top: 40vw;
}

#layer3content {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  margin-top: 16vw;
}

#layer4content {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  margin-top: 35vw;
}

#layer5content {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  margin-top: 38vw;
  padding-bottom: 20vw;
  background-color: #4a1001;
}

#layer6content {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  margin-top: 55vw;
  padding-bottom: 380vw;
  background-color: #2e0a01;
}

.events {
  background-color: #e5bf89;
  width: min(80%, 900px);
  margin: -25px auto;
  color: white;
  padding-top: 70px;
}

.eventsWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.eventColumn {
  display: flex;
  flex-direction: column;
  width: 450px;
  text-align: center;
}

.event {
  background: rgb(255, 245, 255);
  color: black;
  text-align: center;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  padding: 5px;
}

.event h1 {
  font-size: 18px;
  font-weight: bold;
}

.event h2 {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.smallEvent {
  background: rgb(255, 245, 255);
  color: black;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  width: 50%;
  padding: 2px;
}

.smallEvent h1 {
  font-size: 14px;
}

.smallEvent h2 {
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
}

.eventRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.speaker {
  background-color: pink;
}

.careerfair {
  background-color: rgb(71, 197, 255);
}

.funevent {
  background-color: #1c4862;
  color: white;
}

.beginner {
  background-color: rgb(228, 95, 95);
}

.milestone {
  background-color: rgba(255, 241, 43, 0.842);
}
.legend {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.legend-key {
  height: 60px;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  font-size: 10px;
}

.schedulenotes {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.dayheader {
  text-align: center;
  margin-bottom: 35px;
  font-size: 24px;
}
.square {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.tippy-content {
  font-family: Arial, Helvetica, sans-serif;
}
#specialThanks {
  margin: 10vw;
  margin-top: 1vw;
  margin-bottom: 0vw;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 2vw;
  width: 76vw;
  font-size: 2vw;
  text-align: center;
  padding: 2vw;
  background-color: #845b2edd;
}
#specialThanksHeading {
  padding-bottom: 1vw;
}
#TBC {
  width: 12vw;
  border-radius: 1vw;
  margin-right: 1vw;
}
#CS {
  width: 10vw;
  background-color: white;
  padding: 1.4vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  border-radius: 1vw;
  margin-right: 1vw;
}
#GCP {
  width: 6vw;
  background-color: white;
  border-radius: 1vw;
  padding: 1.4vw;
  padding-top: 1vw;
  margin-right: 1vw;
  padding-bottom: 1vw;
}

#EE {
  width: 6vw;
  padding: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-right: 1vw;
  border-radius: 1vw;
  margin-top: 1vw;
  background-color: white;
}

#AL {
  width: 14vw;
  padding: 2vw;
  padding-top: 1.6vw;
  padding-bottom: 1.6vw;
  margin-right: 1vw;
  border-radius: 1vw;
  background-color: white;
}

#DR {
  width: 6.6vw;
  margin-top: 1vw;
  padding: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-right: 1vw;
  border-radius: 1vw;
  background-color: white;
}

#SCM {
  width: 10vw;
  padding: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-right: 1vw;
  border-radius: 1vw;
  background-color: white;
}

#JD {
  width: 9.6vw;
  padding: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-top: 1vw;
  margin-right: 2vw;
  border-radius: 1vw;
  background-color: white;
}

#TL {
  width: 14vw;
  padding: 2vw;
  padding-top: 2.3vw;
  padding-bottom: 2.3vw;
  margin-top: 1vw;
  margin-right: 1vw;
  border-radius: 1vw;
  background-color: white;
}
#M {
  width: 15vw;
  padding: 2vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
  margin-right: 1vw;
  border-radius: 1vw;
  background-color: white;
}

#QV {
  width: 14vw;
  padding: 2vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  margin-top: 1vw;
  border-radius: 1vw;
  background-color: white;
}
.blockchaintext {
  font-size: 2vw;
  font-family: Arial;
  color: #fff;
  padding: 0.2vw;
  margin: 1vw;
}

.blockchaintext:hover {
  font-size: 2.1vw;
}
