@font-face {
  font-family: Holtwood;
  src: url("../fonts/HoltwoodOneSC.ttf");
}
h1 {
  font-size: 25px;
  text-decoration: underline;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 55px;
  line-height: 10px;
}

p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.info {
  font-size: 3vw;
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  padding-left: 20%;
  text-align: left;
}
a {
  color: white;
}
body {
  height: 200vw;
  margin: 0;
  background-color: orange;
  font-family: Holtwood;
}
.layerimg {
  pointer-events: none;
  width: 100%;
}
.noselect {
  user-select: none;
}
#header {
  position: relative;
  display: flex;
}

#layer1 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -20vw;
  transition: margin 1s;
}

#layer2 {
  position: relative;
  display: flex;
  margin-top: -165vw;
  transition: margin 1s;
}

#layer3 {
  position: relative;
  display: flex;
  margin-top: -145vw;
  transition: margin 1s;
}

#layer4 {
  position: relative;
  display: flex;
  margin-top: -125vw;
  transition: margin 1s;
}

#layer5 {
  position: relative;
  display: flex;
  margin-top: -110vw;
  transition: margin 1s;
}
#layer6 {
  position: relative;
  display: flex;
  margin-top: -90vw;
  transition: margin 1s;
}

#layer1title {
  position: absolute;
  text-align: center;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  z-index: 1000;
  margin-top: 12vw;
}
#layer2title {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  z-index: 1000;
  margin-top: 20vw;
}
#layer3title {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  z-index: 1000;
  margin-top: 16vw;
}
#layer4title {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  z-index: 1000;
  color: #fff6d2;
  margin-top: 16vw;
}
#layer5title {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  z-index: 1000;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  margin-top: 20vw;
}

#layer1content {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  margin-top: 12vw;
}

#layer2content {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  margin-top: 20vw;
}

#layer3content {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  margin-top: 16vw;
}

#layer4content {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  margin-top: 30vw;
}

#layer5content {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  font-weight: 400;
  font-size: 7vw;
  color: #fff6d2;
  margin-top: 38vw;
  padding-bottom: 20vw;
  background-color: #4a1001;
}

#layer6content {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  margin-top: 55vw;
  padding-bottom: 220vw;
  background-color: #2e0a01;
}

#schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10vw;
  margin-left: 27vw;
  width: 40vw;
  padding: 3vw;
  background-color: #833900dd;
  border-radius: 2vw;
  height: 40vw;
}

#schedule .schedule-heading #saturday-button,
#schedule .schedule-heading #sunday-button {
  font-size: 3vw;
  cursor: pointer;
  display: inline;
  width: 45%;
  text-align: center;
  border-radius: 5vw;
  border: 0.3vw solid rgba(255, 255, 255, 0);
  padding: 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#schedule .schedule-heading #saturday-button.active,
#schedule .schedule-heading #sunday-button.active {
  border-radius: 5vw;
  border: 0.3vw solid white;
}

#schedule .schedule-text {
  margin-top: 2vw;
  height: 35vw;
  overflow-y: auto;
  color: white;
  cursor: pointer;
}

#schedule .schedule-text .schedule-event-name {
  display: inline-block;
  font-size: 1.5vw;
  width: 30vw;
}

#schedule .schedule-text p:nth-of-type(1) {
  margin: 0;
  padding-top: 10px;
}

#schedule .schedule-text p:nth-of-type(2) {
  margin: 0;
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
}

#schedule .schedule-text .schedule-item:focus-within p:nth-of-type(2) {
  max-height: 10vw;
  size: 1vw;
  opacity: 80%;
}

#schedule #saturday-schedule,
#schedule #sunday-schedule {
  display: none;
}

#schedule #saturday-schedule.active,
#schedule #sunday-schedule.active {
  display: block;
}

#schedule .schedule-heading {
  color: white;
  margin: 1vw;
}
