@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://api.fontshare.com/css?f[]=chillax&display=swap");

@font-face {
  font-family: "Sabo-Filled";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Sabo-Filled[1].otf") format("opentype");
}

html {
  scroll-behavior: smooth;
  background-color: var(--black);
}

* {
  box-sizing: border-box;
}

b {
  font-weight: bold;
}

:root {
  --white: #fffefe;
  --black: #00040f;
  --gray: #9798ac;
  --hot-magenta: #ee1fc8;
  --pink: #ff80bb;
  --purple: #706de2;
  --moody-blue: #7970ff;
  --mountain-mist: #939393;
  --pomegranate: #ff421d;
  --spray: #79ecf7;
  --white: #fffefe;
  --blue: #31b9fa;
  --light-blue: #c3ecff;
  --green: #6da540;
  --yellow: #ffc144;

  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 64px;
  --font-size-xxxxl: 96px;

  --font-family-chillax: "chillax", Helvetica;
  --font-family-pixel_cowboy_-regular: "Pixel Cowboy -Regular", Helvetica;
  --font-family-sabo-filled: "Sabo-Filled", Helvetica;
  color: #ffffff;
}

.title {
  font-family: var(--font-family-sabo-filled);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  text-shadow: 0 0 30px var(--moody-blue), 0 0 10px var(--moody-blue);
}

.heading-1 {
  font-family: var(--font-family-sabo-filled);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.heading-2 {
  font-family: var(--font-family-sabo-filled);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.subheading-2 {
  font-family: var(--font-family-sabo-filled);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
}

.subheading-3 {
  font-family: var(--font-family-sabo-filled);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.chillax-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.chillax-normal-white-medium {
  color: var(--white);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.chillax-normal-white-large {
  color: var(--white);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.chillax-normal-white-32px {
  color: var(--white);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.chillax-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.chillax-medium-hot-magenta-24px {
  color: var(--hot-magenta);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.chillax-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.chillax-medium-moody-blue-24px {
  color: var(--moody-blue);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.chillax-normal-hot-magenta-20px {
  color: var(--hot-magenta);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.chillax-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.chillax-normal-hot-magenta-32px {
  color: var(--hot-magenta);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.chillax-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.chillax-bold-hot-magenta-32px {
  color: var(--hot-magenta);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.chillax-bold-hot-magenta-48px {
  color: var(--hot-magenta);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

@media (max-width: 910px) {
  :root {
    --font-size-s: 16px;
    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 21px;
    --font-size-xxl: 32px;
    --font-size-xxxl: 36px;
    --font-size-xxxxl: 64px;
  }
}

.scroll-mandatory {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

html {
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 12196px; */
  padding: 0 calc(10vw - 25px);
  margin-top: auto;
  position: relative;
  max-width: 100vw;
  overflow-x: clip;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
}

.navlink{

}

#desktop-nav {
  align-items: right;
  width: 100%;
  padding: 0.5em 180px 0.5em 50px;
}

#desktop-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -10px;
  backdrop-filter: blur(2em);
  mask-image: linear-gradient(to bottom, #000000 80%, transparent 100%);
  z-index: -1;
}

#mobile-nav {
  display: none;
  bottom: 50px;
  gap: 14px;
  margin: auto;
  padding: 8px;
  background: #0b0c10bb;
  border-radius: 5px;
}

#mobile-nav img {
  width: 42px;
  height: 42px;
}

.bat {
  height: 64px !important;
  width: 64px !important;
}

.navbar-options {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 28px;
  position: relative;
}

.navbar-options a {
  color: var(--pink);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-m);
  font-weight: 500;
  text-decoration: none;
}

#mobile-nav a {
  text-decoration: none;
}

#desktop-apply {
  color: var(--white);
  background-color: var(--purple);
  padding: 0.5em 0.75em;
  border-radius: 100px;
  font-weight: 500;
}

#mobile-apply {
  color: var(--white);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-xl);
  background-color: var(--purple);
  padding: 16px;
  border-radius: 100px;
}

.landing {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  z-index: 1;
  color: var(--white);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-m);
  font-weight: 400;
  /* max-height: 100vh; */
}

.tags {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.tag {
  border: 1px var(--white) solid;
  border-radius: 100px;
  padding: 8px;
}

.frame-22 {
  height: 36px;
  margin-right: 5px;
  margin-top: 1px;
  position: relative;
  /* width: 391px; */
}

.mailing-list {
  align-items: center;
  display: flex;
  border-radius: 8px;
  margin-top: 21px;
  border: 1px var(--light-blue) solid;
  background: var(--light-blue);
}

.mailing-list {
  text-decoration: none;
}

.signup {
  color: var(--black);
  background: var(--light-blue);
  border: 1px solid var(--light-blue);
  border-radius: 8px;
  padding: 0.4em 1em;
  font-weight: 500;
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-m);
  cursor: pointer; /* Makes it clear that it's a clickable button */
  outline: none; /* Removes the default focus outline */
  display: inline-block; /* Ensures it behaves like the original div */
  text-align: center; /* Centers the text inside the button */
}

.signup:active {
  background: var(--black);
  color: var(--light-blue);
}

/* To ensure the button doesn't have extra space or styling issues */
.signup:focus {
  outline: none;
}

.signup:disabled {
  opacity: 0.6; /* Optional: to indicate the button is disabled after submission */
  cursor: not-allowed;
}

.join-the-mailing-list {
  color: var(--light-blue);
  border: 0;
  border-radius: 8px;
  background: var(--black);
  padding: 0.4em 1em;
  font-size: var(--font-size-m);
  font-family: var(--font-family-chillax);
  text-align: center;
}

/* To match the placeholder text color */
.join-the-mailing-list::placeholder {
  color: var(--light-blue);
}

.join-the-mailing-list:focus::placeholder {
  color: transparent;
}

#email-form {
  margin-top: 0; /* Removes the top margin */
  margin-bottom: 0; /* Optionally remove the bottom margin as well */
  padding: 0; /* Optionally remove any padding */
}

.dont-miss-out {
  color: var(--white);
  display: flex;
  flex: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 16px;
}
/* .dont-miss-out::before {
  content: '';
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
  filter: blur(3.5px);
  mask-image: radial-gradient(circle at center, #000000 10%, transparent 100%);
} */

.dont-miss-out b {
  font-weight: 700;
}

.applications-open {
  color: var(--pink);
  font-weight: bold;
}

.splash-image {
  color: #00000000;
  width: 100%;
  max-width: 70em;
  height: 100%;
  background: url("/assets/img/Temp Landing BKGD.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  overflow: clip;
}

.splash-image img {
  width: 65%;
  margin: 5%;
  overflow: clip;
  user-select: none;
  position: absolute;
  top: 3em;
  left: -10%;

  animation: bob 5s ease-in-out infinite;
  /* animation: bob 5s ease-in-out infinite; */
}
.splash-image #body {
  position: relative;
  z-index: 3;
}
.splash-image #screen {
  z-index: 1;
}
.splash-image #eyes {
  z-index: 2;
}

.splash-image .scroll-image {
  /* position:sticky; */
  top: unset;
  left: unset;
  margin: unset;
  width: 33%;
  right: 3%;
  bottom: 8%;
  animation: bob 2s ease-in-out infinite;
}

/* 
.splash-image #left{
  z-index: -2;
  right: 1vw;
  bottom:10vh;
}
.splash-image #right{
  z-index: -2;
  right: 1vw;
  bottom:10vh;
} */

@keyframes bob {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
/* @keyframes sway {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
} */

.timer-words {
  position: absolute;
  bottom: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
  margin-top: 100px;
}

.countdown {
  color: var(--black);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  /* left: 940px; */
  position: absolute;
  /* top: 346px; */
  padding-right: 10px;
  padding-bottom: 10px;
}

/* TODO: FIX THIS */
.hours {
  left: 1006px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 394px;
}

.min {
  left: 1074px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 394px;
}

.sec {
  left: 1136px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 394px;
}

.days {
  left: 949px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 394px;
}

#about {
  scroll-margin-top: 50px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
}

.hack-words {
  display: flex;
  flex-direction: column;
  width: 55%;
  max-width: 700px;
  margin-left: 5vw;
  font-size: 32px;
  z-index: 1;
}

.hack-words b {
  font-weight: bold;
  text-shadow: 0 0 30px var(--moody-blue), 0 0 10px var(--moody-blue);
}

#countdown {
  font-family: var(--font-family-sabo-filled);
  text-align: center;
  text-shadow: 0 0 30px var(--moody-blue), 0 0 10px var(--moody-blue);
}

#countdown-labels {
  font-family: var(--font-family-sabo-filled);
  text-align: center;
  font-size: var(--font-size-s);
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.hack {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  font-size: var(--font-size-xl);
}

#over-the-years {
  font-size: var(--font-size-xl);
  text-align: center;
  line-height: 1.5;
}

#stats {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.headerDivider {
  background-color: var(--white);
  height: 2em;
  width: 3px;
}

#stats b {
  font-size: var(--font-size-xxl);
  font-family: var(--font-family-dm-sans);
}

#stats p {
  line-height: 2;
  font-size: var(--font-size-m);
}

.frame-51 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 1px;
  margin-top: 88px;
  position: relative;
  width: 225px;
}

.screenshot-2024-07-25-at-70040-pm {
  height: 54px;
  position: relative;
  width: 49px;
}

#arcade-container {
  color: #00000000;
  height: 100vh;
}

/* SCHEDULE CSS */

#schedule {
  scroll-margin-top: 100px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-family: var(--font-family-chillax);
  margin-bottom: 100px;
  max-width: 80em;
}

.schedule-title {
  color: var(--white);
  font-family: var(--font-family-sabo-filled);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  text-shadow: 0 0 30px var(--moody-blue), 0 0 10px var(--moody-blue);
}

.schedule-button-filters {
  font-size: var(--font-size-l);
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 22px;
  gap: 15px;
}

.schedule-button {
  cursor: pointer;
  font-size: var(--font-size-l);
  align-items: center;
  border: 0;
  background: transparent;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 5px 10px;
  position: relative;

  color: var(--spray);
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.schedule-button-hover:hover {
  /* padding: 2px 7px; */
  outline: 3px solid;
  transition: ease-out 50ms;
}

.active-filter {
  background: white;
}

.schedule-columns {
  margin-top: 22px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

.schedule-column {
  flex-basis: 400px;
  flex-grow: 1;
  align-items: flex-start;
  border: 2px solid;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.schedule-subject-to-change {
  flex-basis: 400px;
  flex-grow: 1;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.schedule-subject-to-change h3 {
  align-self: end;
  font-size: var(--font-size-m);
  color: var(--gray);
  margin: 8px;
}

.schedule-subheading {
  line-height: normal;
  margin: 33px;
  position: relative;
}

.schedule-item {
  display: flex;
  border-top: 2px solid var(--white);
  padding: 30px 20px;
  width: 100%;
}

.greyed-out {
  opacity: 0.5;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

.schedule-item:last-child {
  border-bottom: none;
}

.item-info {
  flex-basis: 0px;
}

.scheduleDivider {
  background-color: var(--white);
  margin: 0 10px;
  width: 2px;
  flex-shrink: 0;
}

.event-info {
  display: flex;
  flex-direction: column;
}

.event-description {
  font-size: var(--font-size-m);
  color: var(--gray);
}

.event {
  margin-bottom: 8px;
}

.event-image {
  position: absolute;
  right: 4px;
  transform: translate(-10px, -10px);
}

.shadow-blue {
  filter: drop-shadow(0 0 6px rgb(17, 108, 212));
}

.shadow-green {
  filter: drop-shadow(0 0 6px rgb(65, 213, 11));
}
.shadow-pink {
  filter: drop-shadow(0 0 6px rgb(247, 113, 180));
}
.shadow-yellow {
  filter: drop-shadow(0 0 6px rgb(233, 200, 13));
}

.time {
  font-family: var(--font-family-sabo-filled);
  font-size: var(--font-size-l);
  margin-bottom: 8px;
  white-space: nowrap;
}

.schedule-frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.sunday-schedule {
  align-items: flex-start;
  border-color: var(--moody-blue);
  display: flex;
  flex-direction: column;
  position: relative;
}

/* PRIZES CSS */

#prizes-anchor {
  scroll-margin-top: 100px;
}

#prizes {
  position: relative;
  overflow: clip;
  z-index: 1;
  margin-bottom: 100px;
}

.prizes-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.prize-card {
  border: 2px solid var(--light-blue);
  border-radius: 20px;
  padding: 17px 21px;
  flex-basis: 20em;
  background: #000;
}

#normal-tracks {
  padding: 50px 0;
}

#AI-tracks {
  padding-top: 50px;
  padding-bottom: 40px;
}

.prize-card:hover {
  box-shadow: 0 0 2em var(--purple);
}

#AI-tracks .prize-card:hover {
  box-shadow: 0 0 2em var(--blue);
}

.prize-card h2 {
  font-family: var(--font-family-sabo-filled);
  font-size: var(--font-size-l);
  text-align: center;
  line-height: 1.2;
  margin-bottom: 10px;
}

.prize-card p {
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-s);
  line-height: 1.5;
}

.gacha-scene {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 200vh;
  padding-bottom: 1.5em;
}

.gacha-scene h2 {
  font-family: var(--font-family-sabo-filled);
  font-size: var(--font-size-xxl);
  margin-bottom: 0.5em;
}

.gachapon {
  max-width: 100vw;
  position: absolute;
}

.ball {
  position: sticky;
  max-width: 100vw;
  top: -500px;
  left: 10px;
  z-index: 3;
}

.marquee {
  position: absolute;
  font-size: var(--font-size-xl);
  font-family: var(--font-family-sabo-filled);
  height: 1em;
  width: 100%;
  overflow-x: clip;
  left: 0;
  --mq-anim-length: 10s;
}

#general-marquee {
  --mq-gen-width: 11em;
  --mq-gen-count: 5;
  min-width: calc(4 * var(--mq-gen-width));
  color: var(--purple);
  filter: drop-shadow(0 0 0.5em var(--purple));
}

#AI-marquee {
  --mq-ai-width: 10em;
  --mq-ai-count: 7;
  min-width: calc(4 * var(--mq-ai-width));
  color: var(--blue);
  filter: drop-shadow(0 0 1em var(--blue));
}

.marquee-item {
  position: absolute;
  left: 100%;
  animation: mq var(--mq-anim-length) linear infinite;
  z-index: 1;
  white-space: nowrap;
}

.mqg1 {
  animation-delay: calc(
    var(--mq-anim-length) / var(--mq-gen-count) * (var(--mq-gen-count) - 1) * -1
  );
}
.mqg2 {
  animation-delay: calc(
    var(--mq-anim-length) / var(--mq-gen-count) * (var(--mq-gen-count) - 2) * -1
  );
}
.mqg3 {
  animation-delay: calc(
    var(--mq-anim-length) / var(--mq-gen-count) * (var(--mq-gen-count) - 3) * -1
  );
}
.mqg4 {
  animation-delay: calc(
    var(--mq-anim-length) / var(--mq-gen-count) * (var(--mq-gen-count) - 4) * -1
  );
}
.mqg5 {
  animation-delay: calc(
    var(--mq-anim-length) / var(--mq-gen-count) * (var(--mq-gen-count) - 5) * -1
  );
}

.mqai1 {
  animation-delay: calc(
    var(--mq-anim-length) / var(--mq-ai-count) * (var(--mq-ai-count) - 1) * -1
  );
}
.mqai2 {
  animation-delay: calc(
    var(--mq-anim-length) / var(--mq-ai-count) * (var(--mq-ai-count) - 2) * -1
  );
}
.mqai3 {
  animation-delay: calc(
    var(--mq-anim-length) / var(--mq-ai-count) * (var(--mq-ai-count) - 3) * -1
  );
}
.mqai4 {
  animation-delay: calc(
    var(--mq-anim-length) / var(--mq-ai-count) * (var(--mq-ai-count) - 4) * -1
  );
}
.mqai5 {
  animation-delay: calc(
    var(--mq-anim-length) / var(--mq-ai-count) * (var(--mq-ai-count) - 5) * -1
  );
}
.mqai6 {
  animation-delay: calc(
    var(--mq-anim-length) / var(--mq-ai-count) * (var(--mq-ai-count) - 6) * -1
  );
}
.mqai7 {
  animation-delay: calc(
    var(--mq-anim-length) / var(--mq-ai-count) * (var(--mq-ai-count) - 7) * -1
  );
}

@keyframes mq {
  to {
    left: -10em;
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

#faq {
  scroll-margin-top: 100px;
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 60px;
  z-index: 1;
  width: 80%;
}

.faq-title {
  border: 3px solid;
  border-color: var(--moody-blue);
  border-radius: 100px;
  padding: 5px 10px;
  color: var(--moody-blue);
  white-space: nowrap;
}

#faq-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  font-family: var(--font-family-chillax);
  font-size: var(--font-size-m);
}

.faq-col {
  display: flex;
  gap: 24px;
  flex-direction: column;
  flex-basis: 300px;
  flex-grow: 1;
}

.faq-item a {
  display: flex;
  gap: 16px;
  align-items: center;
}

.faq-question {
  transition: all 0.2s ease-out;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  text-justify: center;
}

.faq-glow {
  text-shadow: 0 0 30px var(--moody-blue), 0 0 10px var(--moody-blue);
}

.faq-dot {
  transition: transform 0.3s;
}

.faq-dot-active {
  transform: rotate(135deg);
  filter: brightness(0) saturate(100%) invert(46%) sepia(90%) saturate(2188%)
    hue-rotate(219deg) brightness(91%) contrast(95%)
    drop-shadow(0 0 20px var(--moody-blue))
    drop-shadow(0 0 5px var(--moody-blue));
}

.faq-answer {
  margin-top: 12px;
  margin-left: 32px;
  transition: all 0.3s ease-out;
  overflow: clip;
  line-height: normal;
}

.hidden {
  display: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.faq-feedback {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
}

.got-more-questions {
  border: 3px solid;
  border-color: var(--moody-blue);
  border-radius: 100px;
  padding: 5px 10px;
  color: var(--moody-blue);
}

.let-us-know {
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-m);
  padding: 5px 8px;
}

.let-us-know a {
  color: var(--pink);
}

.rectangle-1 {
  background-color: var(--white);
  height: 24px;
  position: relative;
  width: 24px;
}

#sponsors {
  /* align-items: center;
  display: flex;
  flex-direction: column;
  gap: 39px;
  margin-left: 1px;
  margin-top: 217px;
  position: relative;
  width: 1190px; */
  z-index: 1;
  text-align: center;
  font-family: var(--font-family-chillax);
  font-size: var(--font-size-m);
  line-height: normal;
}

#sponsors a {
  color: var(--pink);
  font-weight: 500;
}

#sponsors p {
  font-weight: 500;
}

#sponsors-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 100px;
}

#sponsors-flex h2 {
  text-shadow: 0 0 30px var(--moody-blue), 0 0 10px var(--moody-blue);
}

#sponsors-flex img {
  object-fit: contain;
  height: 72px;
  filter: saturate(0);
}

#sponsors-flex img:hover {
  filter: saturate(1);
}

#sponsors-flex .white-logo {
  filter: brightness(0.5);
}

#sponsors-flex .white-logo:hover {
  filter: brightness(1);
}

.frame-56 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 1111px;
}

.a-big-thank-you-to-our {
  color: var(--hot-magenta);
  font-weight: 400;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.frame-55 {
  align-items: center;
  align-self: stretch;
  border-radius: 100px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  margin-top: -9px;
  padding: 5px 8px;
  position: relative;
  width: 100%;
}

.amazing-sponsors {
  color: var(--hot-magenta);
  font-weight: 400;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame-60 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 56px;
  position: relative;
  width: 100%;
}

.frame-57 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 77px;
  position: relative;
  width: 100%;
}

.logo {
  background-color: var(--mountain-mist);
  border-radius: 20px;
  height: 223px;
  position: relative;
  width: 345px;
}

.image-21 {
  height: 150px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 37px;
  width: 200px;
}

.frame-58 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 51px;
  position: relative;
  width: 100%;
}

.logo-1 {
  border-radius: 15px;
  height: 167.25px;
  width: 258.75px;
}

.image-21-1 {
  height: 112px;
  left: 55px;
  top: 28px;
  width: 150px;
}

.frame-59 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 54px;
  position: relative;
  width: 100%;
}

.logo-2 {
  border-radius: 11.25px;
  height: 125.44px;
  opacity: 0.7;
  width: 194.06px;
}

.image-21-2 {
  height: 84px;
  left: 41px;
  top: 21px;
  width: 112px;
}

footer {
  color: var(--white);
  z-index: 1;
  width: 100vw;

  font-family: var(--font-family-chillax);
  font-size: var(--font-size-m);
  padding: 0 calc(10vw - 25px);
}

.footer-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.frame-2-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 19px;
  position: relative;
}

#freetail-bat {
  display: inline;
  margin-right: 8px;
}

#freetail-column {
  flex-basis: 400px;
}

.freetail-hackers-1 {
  font-size: var(--font-size-l);
  font-weight: bold;
  letter-spacing: 0;
  position: relative;
  width: fit-content;
}

.media-links {
  display: flex;
  gap: 16px;
}

.media-links img {
  height: 24px;
  width: 24px;
}

.footer-cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.freetail-links a {
  color: var(--pink);
  line-height: 1.5;
  display: block;
}

.footer-links a {
  line-height: 1.5;
  display: block;
}

.footer-links a {
  color: var(--white);
}

.footer-links a:visited {
  color: var(--white);
}

.adminfreetailhackerscom {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.footer-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 30px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  color: grey;
  white-space: nowrap;
}

.copyright a {
  text-decoration: none;
  color: grey;
}

.copyright a:visited {
  text-decoration: none;
  color: grey;
}

.copyright-freetail-hackers-2024 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.frame-80 {
  align-self: stretch;
  height: 115px;
  position: relative;
  width: 100%;
}

.freetail-hackers-3 {
  color: var(--white);
  filter: blur(3.5px);
  font-weight: 400;
  left: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.freetail-hackers-4 {
  color: var(--white);
  font-weight: 400;
  left: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.claw-machines {
  align-items: center;
  display: inline-flex;
  gap: 60px;
  left: 0;
  position: absolute;
  top: 651px;
}

.group-1 {
  height: 757px;
  position: relative;
  width: 749px;
}

.overlap-group1-2 {
  height: 757px;
  position: relative;
}

.overlap-group-5 {
  height: 220px;
  left: 114px;
  position: absolute;
  top: 30px;
  width: 108px;
}

.rectangle-49-1 {
  background-color: var(--mountain-mist);
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 749px;
}

.group-19 {
  height: 69px;
  left: 70px;
  position: absolute;
  top: 285px;
  width: 606px;
}

.group-20 {
  height: 172px;
  left: 73px;
  position: absolute;
  top: 400px;
  width: 623px;
}

.rectangle-51-1 {
  background-color: var(--mountain-mist);
  height: 74px;
  left: 0;
  position: absolute;
  top: 565px;
  width: 749px;
}

.rectangle-53 {
  background-color: var(--mountain-mist);
  height: 8px;
  left: 60px;
  position: absolute;
  top: 339px;
  width: 628px;
}

.rectangle-55-1 {
  background-color: #bababa;
  height: 683px;
  left: 49px;
  opacity: 0.4;
  position: absolute;
  top: 74px;
  width: 651px;
}

.rectangle-59-1 {
  background-color: #2f2f2f;
  height: 89px;
  left: 120px;
  position: absolute;
  top: 652px;
  width: 94px;
}

.ellipse-89-3 {
  height: 57px;
  position: absolute;
  width: 90px;
}

.frame-27-4 {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  gap: 10px;
  position: relative;
}

.have-your-hacker-id-out-to-scan-20 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.image-21-3 {
  object-fit: cover;
  position: absolute;
}

.logo-3 {
  background-color: var(--mountain-mist);
  position: relative;
}

.other {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  font-weight: bold;
}

.question-line-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.rectangle-60-3 {
  background-color: var(--white);
  border: 0.5px solid;
  border-color: var(--mountain-mist);
  position: absolute;
  top: 0;
  width: 15px;
}

.text-3 {
  letter-spacing: 0;
  line-height: normal;
}

.made-with-love {
  text-align: center;
  font-family: var(--font-family-sabo-filled);
  font-size: var(--font-size-xl);
  line-height: 1.5;
  margin-bottom: 50px;
  color: var(--pink);
}

#claw-machine {
  display: block;
  margin: auto;
  max-width: 100%;
}

#mlh-trust-badge {
  max-width: 7vw;
}

@media (max-width: 910px) {
  .navbar-options {
    display: none;
  }

  #desktop-nav {
    display: none;
  }

  #mlh-trust-badge {
    right: 20px !important;
  }

  #mobile-nav {
    display: flex;
  }

  .landing {
    font-size: 14px;
    padding-bottom: 50px;
  }

  .tags {
    gap: 10px;
  }

  #about {
    align-items: unset;
  }

  .hack-words {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    margin-left: unset;
  }

  .marquee {
    min-width: 780px;
  }

  #general-track {
    min-width: 780px;
  }

  #faq {
    width: 90%;
  }

  .faq-title {
    align-self: center;
  }

  .faq-feedback {
    align-items: center;
  }

  #sponsors-flex img {
    height: 48px;
  }
}
